@media screen and (max-width: 600px) {
    h1{
        font-size: 32px;
    }
    h3,h6{
        font-size: 18px;
    }

    .logo svg{
        height: 24px;
    }

    .form-field{
        padding: 0 25px;
    }

    .form{
        flex-direction: column;
    }

    .form-group{
        width: 100%;
    }
    .get-btn{
        align-self: center;
        font-size: 15px;
        padding: 10px 15px;
    }
    .accordion{
        font-size: 18px;
    }
    .question svg{
        width: 20px;
        height: 20px;
        right: 20px;
        top: 25px;
    }
}

@media screen and (max-width: 960px) {
    .section-warp{
        flex-direction: column;
        text-align: center;
    }

    .section-content p{
        font-size: 18px;
    }
}